---
openapi: 3.0.1
info:
  title: Gossip Server API
  version: v1
paths:
  "/api/v1/users/sign_up":
    post:
      summary: Sign Up
      tags:
      - Authentication
      parameters: []
      responses:
        '200':
          description: successful
        '401':
          description: unauthorized
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    username:
                      type: string
                    email:
                      type: string
                      default: 12a1tranphamtuan69@gmail.com
                    password:
                      type: string
                      default: Tuan08/05/2004
                    password_confirmation:
                      type: string
                      default: Tuan08/05/2004
                    name:
                      type: string
                    surname:
                      type: string
                    gender:
                      type: integer
                      default: 1
                    dob:
                      type: string
                      format: date
                      example: '2000-01-01'
                  required:
                  - username
                  - email
                  - password
                  - password_confirmation
                  - name
                  - surname
                  - gender
                  - dob
  "/api/v1/users/sign_in":
    post:
      summary: Sign In
      tags:
      - Authentication
      parameters: []
      responses:
        '200':
          description: successful
        '401':
          description: unauthorized
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    email:
                      type: string
                      default: 12a1tranphamtuan69@gmail.com
                    password:
                      type: string
                      default: Tuan08/05/2004
                  required:
                  - email
                  - password
  "/api/v1/users/sign_out":
    delete:
      summary: Sign Out
      tags:
      - Authentication
      responses:
        '401':
          description: unauthorized
  "/api/v1/profiles/search":
    get:
      summary: Searches users by username or full name
      tags:
      - Profiles
      security:
      - Bearer: []
      parameters:
      - name: q
        in: query
        description: Search term (username, first name, last name, full name, reversed
          full name)
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: Items per page
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: search results found
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: integer
                        username:
                          type: string
                        email:
                          type: string
                          nullable: true
                        name:
                          type: string
                        surname:
                          type: string
                        bio:
                          type: string
                          nullable: true
                        dob:
                          type: string
                          format: date
                          nullable: true
                        gender:
                          type: string
                          nullable: true
                        relationship_status:
                          type: string
                          nullable: true
                        status:
                          type: string
                          nullable: true
                        avatar_data:
                          type: object
                          properties:
                            url:
                              type: string
                              nullable: true
                        is_email_public:
                          type: boolean
                        is_gender_public:
                          type: boolean
                        is_rel_status_public:
                          type: boolean
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      next_page:
                        type: integer
                        nullable: true
                      prev_page:
                        type: integer
                        nullable: true
                      total_pages:
                        type: integer
                      total_count:
                        type: integer
                      per_page:
                        type: integer
servers:
- url: http://localhost:3000
components:
  securitySchemes:
    Bearer:
      description: JWT key necessary to use API calls
      type: apiKey
      name: Authorization
      in: header
